<!DOCTYPE html>
<html>
<head>

	<title>Google Signin</title>
	{% load static %}
	<link href={% static 'assets/css/bootstrap.min.css' %} rel="stylesheet"  crossorigin="anonymous">
</head>
<body style="background-color:white" >

		<div class="container">
				<center><b><u><h1><p style="color:rgb(179, 0, 71);font-family:algerian;"  >Culture of India</h1></p>
		</div>
				
			<div class="container">
	    {% block content %}	
		

	    {% endblock content %}
    </div>
				<center><img src="http://findwritingservice.com/uploads/2095/images/findwritingservice.com.essay-about-indian-culture-brief-overview.jpg" alt="culture.jpg" >
				
		</div> 
		
	    
</body>
</html>