<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">
    <script type="text/javascript">
    	function myFunction() {
    		alert("item successfully added to cart");
		}
    </script>

  </head>

  <body background="{% static 'abstract-background-blur-255379.jpg' %}">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand" href="/">Culture Of India</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
            {% if product.category == 1 %}

          <h1 class="my-4">Handicrafts</h1>
          <div class="list-group">
            <a href="/product1/1" class="list-group-item active">Handicraft</a>
            <a href="/product1/2" class="list-group-item">Books</a>
            <a href="/product1/3" class="list-group-item">Miscellaneous</a>
            {% elif product.category == 2  %}

          <h1 class="my-4">Books</h1>
          <div class="list-group">
            <a href="/product1/1" class="list-group-item">Handicraft</a>
            <a href="/product1/2" class="list-group-item active">Books</a>
            <a href="/product1/3" class="list-group-item">Miscellaneous</a>
            {% else %}

          <h1 class="my-4">Miscellaneous</h1>
          <div class="list-group">
            <a href="/product1/1" class="list-group-item">Handicraft</a>
            <a href="/product1/2" class="list-group-item">Books</a>
            <a href="/product1/3" class="list-group-item active">Miscellaneous</a>
            {% endif %}
          </div>


        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="http://placehold.it/900x400" style="width:900px;height:400px">
            <div class="card-body">
              <h3 class="card-title">{{product.title}}</h3>
              <h4>${{product.price}}</h4>
              <p class="card-text">{{product.description}}</p>
              {% if product.stock == 0 %}
              <h3 style="color:red">ITEM NOT IN STOCK</h3>
              {% else %}
              <a href="/add_to_cart{{product.getabsoluteurl}}"> <button onclick="myFunction()" >Add to Cart</button></a>
              {% endif %}
              <span class="text-warning">{{product.rate}}{{product.rating}}</span>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <form action="/review{{product.getabsoluteurl}}" method="post">
              {% csrf_token %}
            <div class="card-body">
              {% for r in reviews %}
              <p>{{r.review}}</p>
              <small class="text-muted">Posted by {{r.bid_id}}</small>
              <hr>
              {% endfor %}
               <input type="Text" name="review">
               <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected="selected">5</option>
              </select>
              <input type="submit" class="btn btn-success" value="Leave a Review"/>
            
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        <p class="m-0 text-center text-white">To sell With Us Contact:  Or mail:</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>

</html>
